*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #141e30, #243b55);

    color: white;
}

.container{
    width: 80%;
    max-width: 700px;

    background: rgba(255,255,255,0.1);

    padding: 40px;
    border-radius: 20px;

    text-align: center;

    backdrop-filter: blur(10px);

    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: #00ffd5;
}

p{
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.btn-box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button{
    padding: 12px 25px;
    border: none;
    border-radius: 10px;

    background: #00ffd5;
    color: black;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    transform: scale(1.08);
    background: white;
}

#time{
    font-size: 22px;
    font-weight: bold;
    color: #ffdd57;
}