*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;

    background: linear-gradient(135deg,#0f172a,#1e293b,#334155);

    color:white;
}

/* NAVBAR */

.navbar{
    width:100%;
    padding:20px 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    background: rgba(255,255,255,0.05);

    backdrop-filter: blur(10px);

    position:fixed;
    top:0;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00ffd5;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:30px;
}

.navbar ul li{
    position:relative;
}

.navbar ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.navbar ul li a:hover{
    color:#00ffd5;
}

/* DROPDOWN */

.dropdown-content{
    display:none;
    position:absolute;

    top:30px;

    background:white;

    min-width:150px;

    border-radius:10px;

    overflow:hidden;
}

.dropdown-content a{
    display:block;
    padding:12px;

    color:black !important;
}

.dropdown-content a:hover{
    background:#00ffd5;
    color:black !important;
}

.dropdown:hover .dropdown-content{
    display:block;
}

/* MAIN CONTAINER */

.container{
    width:85%;
    max-width:800px;

    margin:150px auto;

    background: rgba(255,255,255,0.08);

    padding:50px;

    border-radius:25px;

    text-align:center;

    backdrop-filter: blur(15px);

    box-shadow:0 10px 30px rgba(0,0,0,0.4);
    
}


h1{
    font-size:42px;
    margin-bottom:25px;

    color:#00ffd5;
}

p{
    font-size:19px;
    line-height:1.8;

    margin-bottom:30px;
}

/* BUTTONS */

.btn-box{
    display:flex;
    justify-content:center;
    gap:20px;
}

button{
    padding:14px 28px;

    border:none;
    border-radius:12px;

    background:#00ffd5;

    color:black;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:translateY(-5px);
    background:white;

    box-shadow:0 0 20px #00ffd5;
}

#time{
    margin-top:30px;

    font-size:24px;
    color:#ffdd57;
    font-weight:bold;
}

/* MOBILE */

@media(max-width:768px){

    .navbar{
        padding:20px;
        flex-direction:column;
        gap:15px;
    }

    .navbar ul{
        gap:15px;
    }

    h1{
        font-size:30px;
    }

    p{
        font-size:16px;
    }

    .btn-box{
        flex-direction:column;
    }

}
